<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/ask.css"/>
	</head>
	<body>
		<div class="header">
			<a href="" class="logo"><img src="/images/logo.png"/></a>
			<a href="" class="personal_center"><img src="/images/301.png"/></a>
			<a href="" class="question"><img src="/images/302.png"/></a>
			<a href="index.html" class="home_page"><img src="/images/303.png"/></a>
		</div>
		<!----问题------>
		<div class="titles">
			<h1 class="ask_questions">程序员最大的悲哀是什么？</h1>
			<div class="answer">
				<span class="attention">关注问题</span>
				<a href="" class="write_answer">写回答</a>
				<a href="" class="commentaries"><img src="/images/304.png"/>76</a>
				<div class="more"></div>
			</div>
		</div>
		<!-----全部回答------->
		<div class="all_answers">查看全部1473293498743985个回答</div>
		<!--------最佳回答--------->
		<div class="best_answer">
			<div class="first_floor">
				<a class="head_portrait"><img src="/images/305.png"/></a>
				<div class="user_name">
					<a href="">陈颖轩</a>
					<p>他读书少，大家快来骗他</p>
				</div>
			</div>
			<a class="peoples"><p>12334356657</p> 人赞同了该说法</a>
			<div class="review">
				感觉nodejs实在学不会的同学和助教老师说一下，统计一下，感觉太难的同学明天开始可以提前学Vue,这样保证你能够学两遍vue, 能够把vue学的比较通；
			</div>
			<div class="likes">
				<span class="like"><img src="/images/306.png"/>234</span>
				<span class="dislike"><img src="/images/307.png"/></span>
				<a class="commentarie"><img src="/images/304.png"/>151</a>
				<a href="" class="collect"><img src="/images/308.png"/></a>
				<div class="more"></div>
			</div>
		</div>
		<!----相关问题----->
		<div class="more_problems">
			<div class="related_issues">相关问题</div>
			<a href="" class="problem">怎样才算精通C++ <p class="number1">155 个回答</p></a>
			<a href="" class="problem">为什么最难不过二叉树的算法出现在面试题中都会被面试者抱怨 <p class="number2">253 个回答</p></a>
		</div>
		<!----更多回答----->
		<div class="more_answers">
			<div class="topic">更多回答</div>
			<div class="more_answer">
				<div class="first_floor">
					<a class="head_portrait"><img src="/images/305.png"/></a>
					<div class="user_name">
						<a href="">陈颖轩</a>
						<p>他读书少，大家快来骗他</p>
					</div>
				</div>
				<a class="peoples"><p>12334356657</p> 人赞同了该说法</a>
				<div class="review">
					感觉nodejs实在学不会的同学和助教老师说一下，统计一下，感觉太难的同学明天开始可以提前学Vue,这样保证你能够学两遍vue, 能够把vue学的比较通；
				</div>
				<div class="likes">
					<span class="like"><img src="/images/306.png"/>234</span>
					<span class="dislike"><img src="/images/307.png"/></span>
					<a class="commentarie"><img src="/images/304.png"/>151</a>
					<a href="" class="collect"><img src="/images/308.png"/></a>
					<div class="more"></div>
				</div>
			</div>
		</div>
		<!----查看全部回答---->
		<div class="view">
			查看全部21个回答
		</div>
	</body>
</html>
