<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/ask.css"/>
	</head>
	<body>
		<div class="header">
			<a href="" class="logo"><img src="../public/images/logo.png"/></a>
			<a href="" class="personal_center"><img src="../public/images/301.png"/></a>
			<a href="" class="question"><img src="../public/images/302.png"/></a>
			<a href="index.html" class="home_page"><img src="../public/images/303.png"/></a>
		</div>
		<!----问题------>
		<div class="titles">
			<h1 class="ask_questions">程序员最大的悲哀是什么？</h1>
			<div class="answer">
				<span class="attention">关注问题</span>
				<a href="" class="write_answer">写回答</a>
				<a href="" class="commentaries"><img src="../public/images/304.png"/>76</a>
				<div class="more"></div>
			</div>
		</div>
		<!-----全部回答------->
		<div class="all_answers">查看全部1473293498743985个回答</div>
		<!--------最佳回答--------->
		<div class="best_answer">
			<div class="first_floor">
				<a class="head_portrait"><img src="../public/images/305.png"/></a>
				<div class="user_name">
					<a href="">陈颖轩</a>
					<p>他读书少，大家快来骗他</p>
				</div>
			</div>
			<a class="peoples"><p>12334356657</p> 人赞同了该说法</a>
			<div class="review">
				感觉nodejs实在学不会的同学和助教老师说一下，统计一下，感觉太难的同学明天开始可以提前学Vue,这样保证你能够学两遍vue, 能够把vue学的比较通；
			</div>
		</div>
	</body>
</html>
