<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../node_modules/.staging/swiper-dbe0b694/dist/css/swiper.min.css" />
		<link rel="stylesheet" href="../node_modules/.staging/bootstrap-73d71279/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../public/stylesheets/home_page.css" />
	</head>
	<body>
		<!----搜索框----->
		<div class="search_box">
			<a href="" class="logo"><img src="../public/images/logos.png"/></a>
			<div class="search">
				<input type="text" placeholder="搜索你感兴趣的内容..."/>
				<span><img src="../public/images/fdjs.png"/></span>
			</div>
			<div class="quiz">提问</div>
		</div>
		<!----头部------->
		<div class="header">
			<a href="" class="selected">首页</a>
			<a href="">话题</a>
			<a href="">发现</a>
			<a href="" id="drop_down">消息</a>
			<a href="" id="drop_down">我</a>
		</div>
		<!------内容------->
		<div class="bodyer">
			<div class="new_trends">
				<div class="trends"><img src="../public/images/zxdt.png"/>最新动态</div>
				<div class="set_up"><img src="../public/images/sz.png"/>设置</div>
			</div>
			<div class="navs">
				<div class="come_from">
					<span>来自话题:<p class="local">Vue.js</p></span>
					<div class="head_portrait"><img src="../public/images/Ftouxiang.png"/></div>
				</div>
				<a href="" class="titles">为什么很多程序员都会忽略呢</a>
				<div class="account">
					<a href="" class="names">张渚,</a>
					<p class="autograph">认真你就输了</p>
				</div>
				<div class="contents">
					<img src="../public/images/F001.png" class="picture"/>进行社招面试时，有一个问题几乎是必问的：你为什么要离开上一家公司？其实这个问题主要是想试探一下求职者的核心诉求，并借此预估一下他在本公司工作的稳定性。常见的答案也无非就是这么几种：对薪酬不满意、干得不爽，或者是想换个环境。然而，我遇到过好…
					<a>显示全部</a>
				</div>
				<div class="panels">
					
				</div>
			</div>
		</div>
		<script src="../public/javascripts/jquery-1.12.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../node_modules/.staging/swiper-dbe0b694/dist/js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script src="../node_modules/.staging/bootstrap-73d71279/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
