<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../node_modules/.staging/swiper-dbe0b694/dist/css/swiper.min.css" />
		<link rel="stylesheet" href="../node_modules/.staging/bootstrap-73d71279/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../public/stylesheets/home_page.css" />
	</head>
	<body>
		<!----搜索框----->
		<div class="search_box">
			<a href="" class="logo"><img src="../public/images/logos.png"/></a>
			<div class="search">
				<input type="text" placeholder="搜索你感兴趣的内容..."/>
				<span><img src="../public/images/fdjs.png"/></span>
			</div>
			<div class="quiz">提问</div>
		</div>
		<!----头部------->
		<div class="header">
			<a href="" class="selected">首页</a>
			<a href="">话题</a>
			<a href="">发现</a>
			<a href="" id="drop_down">消息</a>
			<a href="" id="drop_down">我</a>
		</div>
		<!------内容------->
		<div class="bodyer">
			<div class="new_trends">
				<div class="trends"><img src="../public/images/zxdt.png"/>最新动态</div>
				<div class="set_up"><img src="../public/images/sz.png"/>设置</div>
			</div>
			<div class="nav_list">
				<div class="navs">
					<div class="come_from">
						<span>来自话题:<p class="local">Vue.js</p></span>
						<div class="head_portrait"><img src="../public/images/Ftouxiang.png"/></div>
					</div>
					<a href="" class="titles">为什么很多程序员都会忽略呢</a>
					<div class="account">
						<a href="" class="names">张渚,</a>
						<p class="autograph">认真你就输了</p>
					</div>
					<div class="contents">
						<img src="../public/images/F001.png" class="picture"/>进行社招面试时，有一个问题几乎是必问的：你为什么要离开上一家公司？其实这个问题主要是想试探一下求职者的核心诉求，并借此预估一下他在本公司工作的稳定性。常见的答案也无非就是这么几种：对薪酬不满意、干得不爽，或者是想换个环境。然而，我遇到过好…
						<a>显示全部</a>
					</div>
					<div class="panels">
						<div class="vote">6
							<img src="../public/images/cho.png"/>
						</div>
						<span class="attention">
							<img src="../public/images/jia.png"/>关注问题
						</span>
						<span class="comment">
							<img src="../public/images/pl.png" alt="" />
							<p>54</p> 条评论
						</span>
						<span class="thanks">
							<img src="../public/images/taox.png"/> 感谢
						</span>
						<span class="intervals"><img src="../public/images/ddd.png"/></span>
						作者保留权利
					</div>
				</div>
				
				<div class="navs">
					<div class="come_from">
						<span>来自话题:<p class="local">Vue.js</p></span>
						<div class="head_portrait"><img src="../public/images/Ftouxiang.png"/></div>
					</div>
					<a href="" class="titles">为什么很多程序员都会忽略呢</a>
					<div class="account">
						<a href="" class="names">张渚,</a>
						<p class="autograph">认真你就输了</p>
					</div>
					<div class="contents">
						<img src="../public/images/F001.png" class="picture"/>进行社招面试时，有一个问题几乎是必问的：你为什么要离开上一家公司？其实这个问题主要是想试探一下求职者的核心诉求，并借此预估一下他在本公司工作的稳定性。常见的答案也无非就是这么几种：对薪酬不满意、干得不爽，或者是想换个环境。然而，我遇到过好…
						<a>显示全部</a>
					</div>
					<div class="panels">
						<div class="vote">6
							<img src="../public/images/cho.png"/>
						</div>
						<span class="attention">
							<img src="../public/images/jia.png"/>关注问题
						</span>
						<span class="comment">
							<img src="../public/images/pl.png" alt="" />
							<p>54</p> 条评论
						</span>
						<span class="thanks">
							<img src="../public/images/taox.png"/> 感谢
						</span>
						<span class="intervals"><img src="../public/images/ddd.png"/></span>
						作者保留权利
					</div>
				</div>
			</div>
			
			 <!--查看更多-->
        	<div class="btn-like-more" id="loadmore">加载更多</div>
			<!----我的收藏---->
			<ul class="question">
				<li><img src="../public/images/101.png"/>我的收藏</li>
				<li><img src="../public/images/103.png"/>我关注的问题</li>
				<li><img src="../public/images/105.png"/>邀请我回答的问题</li>
			</ul>
			<!-----服务中心------>
			<ul class="service_center">
				<li><img src="../public/images/107.png"/>公共编辑动态</li>
				<li><img src="../public/images/111.png"/>社区服务中心</li>
				<li><img src="../public/images/105.png"/>版权服务中心</li>
			</ul>
			<!----知乎专栏---->
			<div class="column">
				<p>知乎专栏</p>
				<a href=""><img src="../public/images/zt.png"/>专栏·发现</a>
			</div>
			<!-----知乎love------>
			<div class="zhihu_love">
				<div>
					<p>知乎 Love</p>
					<a href="">查看全部>></a>
				</div>				
				<ul class="loves">
					<li><img src="../public/images/201.png"/>瘦脸，瘦小腿，除皱的神器-肉毒素</li>
					<li><img src="../public/images/202.png"/>建设你的靠谱暗房</li>
					<li><img src="../public/images/203.png"/>翻译之路第一步：从高考英语到CATTI三级</li>
				</ul>
			</div>
			<!-----知乎圆桌------>
			<div class="zhihu_yz">
				<div>
					<p>知乎圆桌</p>
					<a href="">查看全部>></a>
				</div>				
				<ul class="loves">
					<li><img src="../public/images/204.png"/>网络文学风云录</li>
					<li><img src="../public/images/205.png"/>2017 诺贝尔奖巡礼</li>
					<li><img src="../public/images/206.png"/>留学申请季</li>
				</ul>
			</div>
			<!-----知乎书桌------>
			<div class="zhihu_yz">
				<div>
					<p>知乎书桌</p>
					<a href="">查看全部>></a>
				</div>				
				<ul class="loves">
					<li><img src="../public/images/207.png"/>我的品质生活提案<span class="news">新上架</span></li>
					<li><img src="../public/images/208.png"/>这该死的痛经！<span class="news">新上架</span></li>
					<li><img src="../public/images/209.png"/>刑事辩护指导书</li>
				</ul>
			</div>
		</div>
		<script src="../public/javascripts/jquery-1.12.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../node_modules/.staging/swiper-dbe0b694/dist/js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script src="../node_modules/.staging/bootstrap-73d71279/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
