<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/home-page.css"/>
	</head>
	<body>
		<div class="page">
			<header>
				<nav>
					<a href="" class="logo"><img src="../public/images/logo.png"/></a>
					<ul class="lists">
						<li><a href="" class="home_page">首页</a></li>
						<li><a href="" class="list">发现</a></li>
						<li><a href="" class="list">话题</a></li>
					</ul>
					<div class="search">
						<input type="text" placeholder="搜索你感兴趣的内容..." />
						<span></span>
					</div>
					<div class="questions">提问</div>
					<div class="user">
						<div class="modal">
							<div class="triangle"></div>
							<div class="modals">
								<a href="" class="peoples"><img src="../public/images/05.png"/><p>我的主页</p></a>
								<a href="" class="set_up"><img src="../public/images/06.png"/><p>设置</p></a>
								<a href="" class="sign_out"><img src="../public/images/07.png"/><p>退出</p></a>
							</div>
						</div>
					</div>
					<a href="" class="wechat"></a>
					<a href="" class="bell"></a>
				</nav>
			</header>
			<div class="bodyer">
				<div class="navs">
					<!--内容左边部分-->
					<div class="left_nav">
						<div class="classification">
							<ul>
								<li>
									<a href=""><img src="../public/images/08.png"/><p>提问</p></a>
								</li>
								<li>
									<a href=""><img src="../public/images/09.png"/><p>回答</p></a>
								</li>
								<li>
									<a href=""><img src="../public/images/10.png"/><p>写文章</p></a>
								</li>
							</ul>
							<a href="">草稿</a>
						</div>
						<div class="hot_content">
							<span class="closer"></span>
							<p class="explains">热门内容, 来自: <span id="classify">职场</span></p>
							<a href="" class="titles">面试时，一定不能做的 8 件事 | 动画</a>
							<div class="users">
								<a href="" class="user_name">
									<img class="head_portrait" src="../public/images/tx.png"/>
									路人甲,
								</a>
								<p class="autograph">喜欢用数据讲故事.</p>
							</div>
							<div class="describe">
								<div class="picture"><img src="../public/images/11.png"/></div>
								<p class="words">中国人对飘窗有种莫名的情怀。 “飘窗”这两个字一在广告里出现，就自带了浪漫旖旎的属性。房还没看呢，阳光就透过了百叶窗，软糯的抱枕和盖毯就绪，猫咪已慵懒地蜷在脚边。 飘窗还是朋友圈最好的布景，只要待够5分…
									<a href="">阅读全文</a>
								</p>
							</div>
							<div class="loves"></div>
						</div>
					</div>
					<div class="right_nav"></div>
				</div>
			</div>
		</div>
	</body>
</html>
