<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/personal_center.css"/>
	</head>
	<body>
		<!----搜索框----->
		<div class="search_box">
			<a href="" class="logo"><img src="../public/images/logos.png"/></a>
			<div class="search">
				<input type="text" placeholder="搜索你感兴趣的内容..."/>
				<span><img src="../public/images/fdjs.png"/></span>
			</div>
			<div class="quiz">提问</div>
		</div>
		<!----头部------->
		<div class="header">
			<a href="" class="selected">首页</a>
			<a href="">话题</a>
			<a href="">发现</a>
			<a href="" id="drop_down">消息</a>
			<a href="" id="drop_down">我</a>
		</div>
	</body>
</html>
