<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/personal_center.css"/>
	</head>
	<body>
		<!----搜索框----->
		<div class="search_box">
			<a href="" class="logo"><img src="/images/logos.png"/></a>
			<div class="search">
				<input type="text" placeholder="搜索你感兴趣的内容..."/>
				<span><img src="/images/fdjs.png"/></span>
			</div>
			<div class="quiz">提问</div>
		</div>
		<!----头部------->
		<div class="header">
			<a href="" class="selected">首页</a>
			<a href="">话题</a>
			<a href="">发现</a>
			<a href="" id="drop_down">消息</a>
			<a href="" id="drop_down">我</a>
		</div>
		<!-----个人详情------>
		<div class="nav">
			<div class="personal_data">
				<!---------->
				<div class="individual">
					<div class="head_portrait"><img src="/images/yh.png"/></div>
					<div class="right_side">
						<h1 class="name">德国骨科</h1>
						<p class="occupation">老司机</p>
						<a href="" class="more_information"><img src="/images/jt.png"/>查看详细资料</a>
					</div>
				</div>
				<!---------->
				<a class="fill"><img src="/images/tian.png"/>填写个人简介</a>
				<!-------->
				<div class="gain">
					获得 <img src="/images/zan.png" alt="" /><p>0</p> 赞同  <img src="/images/xin.png" alt="" /><p>0</p> 反对
				</div>
				<!----------->
				<div class="home">
					<ul>
						<li><a href=""><img src="/images/111.png"/></a></li>
						<li><a href="">提问<span>0</span></a></li>
						<li><a href="">回答<span>0</span></a></li>
						<li><a href="">文章<span>0</span></a></li>
						<li><a href="">收藏<span>0</span></a></li>
						<li><a href="">公共编辑<span>0</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
