body,html{
	width: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
	background: #f7f8fa;
}
a{
	text-decoration:none;
}
@media (max-width: 330px) { html,body{font-size: 12.8px;} }
@media(min-width: 330px) and (max-width: 370px) { html,body{font-size: 14.4px;} }
@media(min-width: 370px) and (max-width: 400px) { html,body{font-size: 15px;} }
@media (min-width: 400px) and (max-width: 450px) { html,body{font-size: 16.48px;}
@media(min-width: 450px) and (max-width: 900px) { html,body{font-size: 30.72px;} } }
@media (min-width: 900px){ html,body{font-size: 40.96px;} }

.header{
	background: white;
	width: 100%;
	height: 3.46667rem;
	border-bottom: 1px solid #e4e6e7;
	box-shadow: 0 0 2px 0 #000000;
	box-sizing: border-box;
	padding: 1rem 1.66667rem 0 1rem;
	position: fixed;
	z-index: 2;
}
.logo{
	width: 3.7333rem;
	height: 1.7333rem;
	float: left;
}
.logo>img,.personal_center>img,.question>img,.home_page>img{
	width: 100%;
}
.personal_center,.question,.home_page{	
	height: 1.7333rem;
	line-height: 1.7333rem;
	float: right;
	margin-left: 2rem;
}
.personal_center{
	width: 1.46667rem;
}
.question,.home_page{
	width: 1.26667rem;
}
/*问题*/
.titles{
	background: white;
	width: 100%;
	padding: 0 1rem;
	box-sizing: border-box;
	margin-top: 3.46667rem;
	border-bottom: 1px solid #CCCCCC;
	box-shadow: 0 0 2px 0 #aaaaaa;
	margin-bottom: 0.5rem;
}
.titles>h1{
	padding-top: 1rem;
	width: 100%;	
	font-size: 1.3333rem;
	white-space: nowrap;
}
.answer{
	width: 100%;
	margin: 1rem 0;
	height: 2.26667rem;
}
.attention{
	float: left;
	width: 7.4rem;
	height: 2.26667rem;
	background: #0f88eb;
	border-radius: 3px;
	color: white;
	text-align: center;
	line-height: 2.26667rem;
	margin-right: 1.2rem;
}
.write_answer{
	width: 6.0667rem;
	height: 2.26667rem;
	color: #0f88eb;
	float: left;
	border: 1px solid #0f88eb;
	border-radius: 3px;
	text-align: center;
	line-height: 2.26667rem;
	box-sizing: border-box;
	margin-right: 1.5rem;
}
.commentaries{
	height: 2.26667rem;
	float: left;
	line-height: 2.26667rem;
	color: #999999;
	margin-right: 1.5rem;
}
.commentaries>img{
	width: 1rem;
	height: 1rem;
	margin-right: 0.6rem;
}
.more{
	width: 1rem;
	float: left;
	height: 2.26667rem;
	background: url(../images/ddd.png) no-repeat;
	background-size: 100%;
	background-position-y: 1rem;
}
/*全部回答*/
.all_answers{
	width: 100%;
	height: 3.3333rem;
	text-align: center;
	line-height: 3.3333rem;
	background: white;
	color: blue;
	box-shadow: 0 0 2px 0 #bbbbbb;
	margin-bottom: 1rem;
}
.best_answer{
	width: 100%;
	background: white;
	padding: 1rem 1rem 1.5rem 1rem;
	box-sizing: border-box;
	box-shadow: 0 0 2px 0 #bbbbbb;
}
.first_floor{
	width: 100%;
	height: 2.5333rem;
}
.head_portrait{
	width: 2.5333rem;
	height: 2.5333rem;
	float: left;
	border-radius: 1px;
}
.head_portrait>img{
	width: 2.5333rem;
}
.user_name{
	width: 19.36rem;
	height: 2.5333rem;
	float: right;
}
.user_name>a{
	font-weight: 600;
	color: #000000;
}
.user_name>p{
	width: 100%;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	margin: 0;
}
.peoples{
	color: #bbbbbb;
}
.peoples>p{
	display: inline-block;
}
.review{
	width: 100%;
	font-size: 1.2rem;
	line-height: 1.8rem;
}
