body,html{
	width: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
}
a{
	text-decoration:none;
}
@media (max-width: 330px) { html,body{font-size: 12.8px;} }
@media(min-width: 330px) and (max-width: 370px) { html,body{font-size: 14.4px;} }
@media(min-width: 370px) and (max-width: 400px) { html,body{font-size: 15px;} }
@media (min-width: 400px) and (max-width: 450px) { html,body{font-size: 16.48px;}
@media(min-width: 450px) and (max-width: 900px) { html,body{font-size: 30.72px;} } }
@media (min-width: 900px){ html,body{font-size: 40.96px;} }
/*搜索框*/
.search_box{
	width: 100%;
	height: 3rem;
	box-sizing: border-box;
	padding: 0.5rem 0.45rem 0 0.45rem;
	background: -webkit-linear-gradient(top,#086dd4,#044d95);
	box-shadow: 0 0 5px 0 #000000;
}
.logo{
	width: 4rem;
	height: 1.866667rem;
	float: left;
}
.logo>img{
	width: 4rem;
	height: 1.866667rem;
}
.search{
	float: left;
	margin-left: 0.66667rem;
	width: 15rem;
	border-radius: 3px;
	height: 2rem;
	background: #e1eaf2;
}
.search>input{
	width: 11rem;
	height:2rem;
	line-height: 2rem;
	padding-left: 0.5rem;
	color: #8d9ba8;
	float: left;
	border: none;
	appearance: none;
	outline: none;
	background: none;
}
.search>span{
	width: 1rem;
	height: 1.9rem;
	line-height: 1.9rem;
	float: right;
	margin-right: 0.5rem;
}
.search>span>img{
	width: 1rem;
	height: 1rem;
}
.quiz{
	width: 4rem;
	height: 2rem;
	float: right;
	border-radius: 5px;
	text-align: center;
	line-height: 2rem;
	color: white;
	background: #0d78e7;
}
.header{
	width: 100%;
	height: 2.4rem;
	background: #f2f2f2;
	border-bottom: 1px solid #dfdfdf;
}
.header>a{
	width: 20%;
	height: 2.4rem;
	white-space: nowrap;
	float: left;
	text-align: center;
	line-height: 2.4rem;
	color: black;
	text-decoration:none;
}
.selected{
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
}
#drop_down{
	background-image: url(../images/sjx.png);
	background-origin: border-box;
	background-size: 15% 15%;
	background-repeat: no-repeat;
	background-position-y: 1rem;
	background-position-x: 90%;
}
/*个人详情*/
.nav{
	width: 100%;
	padding: 0.8rem;
	box-sizing: border-box;
}
.personal_data{
	width: 100%;
	border: 1px solid #aaaaaa;
	box-sizing: border-box;
	border-radius: 5px;
}
.individual{
	width: 100%;
	height: 9.375rem;
	box-sizing: border-box;
	padding: 0.8rem;
	border-bottom: 1px dashed #cccccc;
}
.head_portrait{
	width: 7.8125rem;
	height: 7.8125rem;
	float: left;
	border-radius: 3px;
}
.head_portrait>img{
	width: 100%;
}
.right_side{
	width: 12.89rem;
	height: 7.8125rem;
	float: right;
}
.right_side>h1{
	color: #000000;
	font-size: 1.64rem;
	margin:0 0 1rem 0;
}
.right_side>p{
	color: #999999;
	font-size: 1.25rem;
	margin-bottom:1rem;
}
.right_side>a{
	color: blue;
}
.right_side>a>img{
	margin-right: 0.5rem;
}
.fill{
	width: 100%;
	height: 3.51rem;
	display: block;
	border-bottom: 1px dashed #cccccc;
	color: blue;
	font-size: 1.25rem;
	padding: 0 1rem;
	box-sizing: border-box;
	line-height: 3.51rem;
}
.fill>img{
	margin-right: 0.5rem;
	height: 1rem;
}
.gain{
	width: 100%;
	height: 3.51rem;
	padding: 0 1rem;
	box-sizing: border-box;
	color: #999999;
}
.gain>p{
	display: inline-block;
	margin-right: 0.3rem;
	color: #000000;
}
.gain>img{
	margin: 0 0.3rem;
}
/*回到首页*/
.home{
	width: 100%;
	border-top: 1px solid #999999;
	background: #f1f1f1;
	padding: 0 1.5625rem;
	box-sizing: border-box;
}
.home>ul{
	width: 100%;
	margin: 0;
	padding: 0;
}
.home>ul>li{
	width: 100%;
	height: 3.59rem;
	list-style: none;
}
.home>ul>li>a{
	display: block;
	width: 100%;
	height: 3.59rem;
	line-height: 3.59rem;
	font-weight: 600;
	font-size: 1.2rem;
	color: #000000;
}
.home>ul>li>a>img{
	width: 1.59rem;
	margin-top: 1rem;
}
.home>ul>li>a>span{
	margin-left: 0.5rem;
	color: #999999;
	font-size: 1.2rem;
	display: inline-block;
	line-height: 3.59rem;
	font-weight: 100;
}
